body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  font-size: $default-font-size;
  color: $color-grey-light-2;
  line-height: 1.7;
}

.main-primary {
  //  width: 100vw;
  text-transform: uppercase;
  //color: $color-secondary-light;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3rem;
    line-height: normal;
    background-image: linear-gradient(
      to bottom,
      $color-grey-light-1,
      $color-grey-dark-1
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    //  text-shadow: $shadow-dark;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      //  font-family: 5rem;
    }
  }
  &--sub {
    margin-top: 4rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    background-image: linear-gradient(
      to bottom,
      $color-grey-light-1,
      $color-grey-dark-1
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    //  text-shadow: $shadow-dark;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.header {
  .option {
    font-size: 2rem;
    padding: 0 15px;
    color: $color-grey-light-1;
    //  text-shadow: $shadow-dark;
    // background-image: linear-gradient(
    //   to right,
    //   $color-secondary,
    //   $color-secondary-dark
    // );
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
  }
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  background-image: linear-gradient(
    to bottom,
    $color-secondary,
    $color-secondary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  // text-shadow: $shadow-dark;
  transition: all 0.2s;
  &:hover {
    background-image: linear-gradient(
      to bottom,
      $color-secondary-08,
      $color-secondary-dark-08
    );
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 4rem;
  background-image: linear-gradient(
    to bottom,
    $color-grey-light-1,
    $color-grey-dark-1
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  // text-shadow: $shadow-dark;
}

// .paragraph {
//   font-size: $default-font-size;
//   color: $color-grey-light-1;
// }

.projects-item__other {
  &--title {
    font-size: 2rem;
    font-weight: 900;
  }
  &--description {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.projects-item__main-caption {
  &-header {
    font-size: 2.5rem;
    color: $color-grey-light-1;
  }

  &-body {
    font-size: 1.5rem;
    color: $color-grey-light-1;
  }
}
