$color-primary: #222831;
$color-primary-light: #393e46;
$color-primary-dark: #17202d;

$color-secondary: #00adb5;
$color-secondary-dark: #00656a;

$color-grey-light-1: #eeeeee;
$color-grey-light-2: #c0c0c0;
$color-grey-dark-1: #393e46;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.9);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.4);

// FONT
$default-font-size: 2rem;

//MARGIN
$margin: 0 15rem;
$margin-medium: 0 7rem;
$margin-small: 0 5rem;

//PADDING
$padding: 0 12rem;
$padding-medium: 0 7rem;
$padding-small: 0 5rem;

//BORDER RADIUS
$border-radius: 7px;
