.main {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
    //  align-items: center;
    justify-content: flex-start;
  }

  &__text-box {
    text-align: center;

    .main-primary {
      padding-top: 20rem;
      margin-left: 10rem;

      @include respond(tab-port) {
        // padding-top: 0;
        margin-left: 0;
      }
    }
  }
  .profile {
    padding-top: 20rem;
    align-items: center;
    text-align: center;

    @include respond(tab-port) {
      padding-top: 7rem;
    }

    &--pic {
      margin-left: 20rem;
      width: 50%;
      height: auto;
      border: 0.3rem solid $color-secondary;
      border-radius: 50%;
      box-shadow: $shadow-light;
      background-position: center;

      @include respond(tab-port) {
        // padding-top: 0;
        margin-left: 0;
      }
    }
  }
}
