.projects {
  //height: 100vh;
  margin: $margin;

  @include respond(tab-port) {
    margin: $margin-medium;
  }
  @include respond(phone) {
    margin: $margin-small;
  }

  .main-items {
    display: grid;

    @include respond(tab-land) {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  .more-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include respond(tab-port) {
      flex-wrap: wrap;
      align-content: center;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }
}
