.projects-item {
  &__main {
    //display: flex;
    //flex-direction: column;
    //background: red;

    // border-radius: $border-radius;
    // overflow: hidden;

    &-effect {
      background-image: linear-gradient(
        rgba($color-secondary, 0.93),
        rgba($color-secondary, 0.93)
      );
      position: relative;
      //overflow: hidden;
      // width: 90%;
      border-radius: $border-radius;
      transition: all 0.2s;
      overflow: hidden;
    }
    &-image {
      width: 100%;
      height: 100%;

      // object-fit: cover;
      // align-self: start;
      display: block;
      border-radius: $border-radius;
      transition: all 0.2s;

      // &:hover {
      //   //  background: black;
      //   // transform: translateX(3px);
      //   opacity: 0.3;
      // }
    }
    &-caption {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;

      //  right: -100%;
      &-body {
        position: absolute;
        color: $color-grey-light-1;
        top: 50%;
        right: -100%;
        opacity: 1;

        transition: all 0.3s;
      }

      &-header {
        //  position: absolute;
        color: $color-grey-light-1;
        opacity: 0;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -50%;
        height: 2px;
        width: 100%;
        background-color: black;
        transform: scaleX(0);
        transition: transform 0.2s;
        // transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        //   background-color 0.1s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
    &-effect:hover &-caption-body {
      opacity: 1;
      right: 30%;
    }
    &-effect:hover &-caption-header {
      opacity: 1;
    }
    &-effect:hover &-image {
      opacity: 0.2;
    }
  }
  &__other {
    padding: 2rem;
    width: 22vw;
    height: 30rem;
    background-color: $color-grey-dark-1;
    box-shadow: $shadow-light;
    border-radius: $border-radius;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: $shadow-dark;
    }

    &--header {
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 5rem 2rem;
    }

    &--logo {
      height: 5rem;
      width: 5rem;
      fill: $color-secondary;
    }

    &--options {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &-option {
        height: 2rem;
        width: 2rem;
        margin: 0 1rem;
        //padding: 0 1rem;
        cursor: pointer;
        fill: $color-grey-light-1;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-2px);
          fill: $color-secondary;
          box-shadow: $shadow-light;
        }
      }
    }
    &--text {
      margin: 1rem 1rem;
    }
  }
}
