.projects {
  //height: 100vh;
  margin: $margin;

  .main-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    //grid-template-rows: 1fr 1fr;
    align-items: stretch;
    grid-gap: 1rem;
  }

  .more-items {
    display: flex;
    justify-content: space-between;
  }
}
