.projects-item {
  &__main {
    position: relative;

    &-effect {
      background-image: linear-gradient(
        rgba($color-secondary, 0.93),
        rgba($color-secondary, 0.93)
      );
      position: relative;
      border-radius: $border-radius;
      transition: all 0.2s;
      overflow: hidden;
    }
    &-image {
      width: 100%;
      height: 100%;

      display: block;
      border-radius: $border-radius;
      transition: all 0.2s;
    }

    &-caption {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;

      &-link {
        position: absolute;
        top: 5%;
        right: 5%;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          transform: translateY(-2px);
          box-shadow: $shadow-light;
        }
      }

      &-body {
        position: absolute;
        width: 60%;
        color: $color-grey-light-1;
        top: 40%;
        right: -50%;
        opacity: 0;

        transition: all 0.3s;
      }

      &-header {
        position: absolute;
        top: 5%;
        left: 5%;
        //margin: 2rem;
        //color: $color-grey-light-1;
        opacity: 0;
      }
      &::after {
        content: '';
        position: absolute;
        top: 25%;
        left: -50%;
        height: 2px;
        width: 120%;
        background-color: $color-grey-light-1;
        transform: scaleX(0);
        transition: transform 0.4s;
        // transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        //   background-color 0.1s;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
    &-effect:hover &-caption-body {
      opacity: 1;
      right: 35%;
    }
    &-effect:hover &-caption-header {
      opacity: 1;
    }
    &-effect:hover &-image {
      opacity: 0.2;
    }
  }

  &__other {
    padding: 2rem;
    min-width: 22vw;
    max-width: 22vw;
    height: 30rem;
    margin: 1rem;
    background-color: $color-grey-dark-1;
    // box-shadow: $shadow-light;
    border-radius: $border-radius;
    transition: all 0.2s;

    @include respond(tab-port) {
      width: 35vw;
    }

    @include respond(phone) {
      width: 50vw;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: $shadow-light;
    }

    &--header {
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 5rem 2rem;
    }

    &--logo {
      height: 5rem;
      width: 5rem;
      fill: $color-secondary;
    }

    &--options {
      width: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &-option {
        height: 2rem;
        width: 2rem;
        margin: 0 1rem;
        //padding: 0 1rem;
        cursor: pointer;
        fill: $color-grey-light-1;
        transition: all 0.2s;

        &:hover {
          //  transform: translateY(-2px);
          fill: $color-secondary;
          // box-shadow: $shadow-light;
        }
      }
    }
    &--text {
      margin: 1rem 1rem;
    }
  }
}
